<% layout("/layouts/boilerplate") %>
<body>
    <h3>Create Your Listing</h3>
    <form method="post" action="/listings/<%=listing._id%>/?_method=PUT" novalidate class="needs-validation">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" placeholder="title" type="text" class="form-control" value="<%=listing.title%>" required/>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" placeholder="description" type="text" class="form-control" required><%=listing.description%></textarea>
            </div>
            <div class="mb-3">
                <label for="imageUrl" class="form-label">ImageUrl</label>
                <input name="listing[imageUrl]" placeholder="imageUrl" type="text" class="form-control" value="<%=listing.imageUrl%>" required/>
            </div>
           <div class="row">
            <div class="mb-3 col-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="price" type="number" class="form-control" value="<%=listing.price%>" required/>
            </div>
            <div class="mb-3 col-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" placeholder="country" type="text" class="form-control" value="<%=listing.country%>" required/>
            </div>
           </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" placeholder="Location" type="text" class="form-control" value="<%=listing.location%>" required/>
            </div>
            <button class="btn btn-dark add-btn">Edit</button>
        </div>
    </div>
    </form>
</body>
